<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand"> POS</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/menu-admin">Menu
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ordered-admin">Đơn đặt
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account-admin">Tài khoản
            <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <span class="nav-item nav-item--login" id="login-text">
        <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt mr-2"></i> Đăng nhập
          <span class="sr-only">(current)</span></a>
      </span>
    </div>
  </nav>
</div>
<link rel="stylesheet" href="/stylesheets/footer-menu.css" />
<div class="body">
  <div class="main-body-admin">
    <div class="search-bar">
      <input type="text" class="input-search" placeholder="Search" />
      <button class="btn-search"><i class="fas fa-search"></i></button>
    </div>
    {{!-- <div class="category-list">
      {{! ----------------Category-list------------------ carousel-slide-first }}
      <div class="container container-carousel-first">
        <div class="row">
          <div class="col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-sm-2 cart-category">
                      <div class="single-box category-active">
                        <div class="img-area">
                          <img src="./img/allmenu.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>MENU</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food4.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>Nước uống</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food10.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>Cơm bún phở</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food1.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>Thức ăn nhanh</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food14.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>Lẩu</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2 cart-category">
                      <div class="single-box">

                        <div class="img-text">
                          <div class="img-area">
                            <img src="./img/image-food1.jpg" alt="" />
                          </div>
                          <p>khác</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-sm-2 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food1.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>khác</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food1.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>khác</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food1.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>khác</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food1.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>khác</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-2 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food1.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>khác</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food1.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>khác</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      {{! --------------------- carousel-slide-second}}
      <div class="container container-carousel-second">
        <div class="row">
          <div class="col-md-12">
            <div id="carouselExampleIndicators1" class="carousel slide" data-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-sm-6 col-6 cart-category">
                      <div class="single-box category-active">
                        <div class="img-area">
                          <img src="./img/allmenu.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>MENU</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-6 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food4.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>Nước uống</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-sm-6 col-6 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food10.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>Cơm bún phở</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-6 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food1.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>Thức ăn nhanh</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-sm-6 col-6 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food14.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>Lẩu</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-6 cart-category">
                      <div class="single-box">

                        <div class="img-text">
                          <div class="img-area">
                            <img src="./img/image-food1.jpg" alt="" />
                          </div>
                          <p>khác</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">

                    <div class="col-sm-6 col-6 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food1.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>khác</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-6 cart-category">
                      <div class="single-box">
                        <div class="img-area">
                          <img src="./img/image-food1.jpg" alt="" />
                        </div>
                        <div class="img-text">
                          <p>khác</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      {{! --------------------- }}

    </div> --}}

    <div class="menu-list">
      {{!
      -----------------------------------------------MENU-LIST---------------------------------
      }}
      <hr class="food-list-name-hr" />
      <div class="food-list-name">
        <h3 class="food-list-name-category food_list_name-js">MENU</h3>
        <button class="admin-add">Thêm món ăn</button>
      </div>

      <div class="mt-4">
        <div class="row row-card food_list-js">
          {{#each MenuArray}}
          {{#if this.isRecommended}}
          <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="card card--best-seller">
              <img class="card-img-top" src={{this.image}} alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <div class="label-control">
                  <p class="card-text">{{this.price}} VNĐ</p>
                  <a href="#" class="admin__remove">
                    <i class="fas fa-trash"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {{else}}
          <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="card">
              <img class="card-img-top" src={{this.image}} alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <div class="label-control">
                  <p class="card-text">{{this.price}} VNĐ</p>
                  <button href="#" class="admin__remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          {{/if}}

          {{/each}}
        </div>
      </div>

      <!-- ---------------------------------------------------------------------------------------------- -->
    </div>
  </div>

  <div class="modal-container admin-modal">
    <div class="modal__box">
      <div class="modal__header">
        <div class="modal__header-name">THÔNG TIN </div>
        <i class="fas fa-times close__modal-icon"></i>
      </div>
      <div class="modal__body">
        <div class="modal__image">
          <p>Ảnh minh họa</p>
          <input type="file">
        </div>
        <div class="modal__description">
          <form action="" class="modal__input">
            <label for="">ID món ăn</label>
            <input type="text">
            <label for="">Tên món ăn</label>
            <input type="text">
            <label for="">Giá tiền</label>
            <input type="number">
            <label for="">Loại</label>
            <input type="text">
            <label for="">Best seller</label>
            <select name="" id="">
              <option value="">có</option>
              <option value="">không</option>
            </select>
            <label for="">Mô tả</label>
            <input type="text">
          </form>
          <button class="modal__button">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận thay đổi</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Xác nhận</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        </div>
      </div>
    </div>
  </div>


  <script src="./js/admin/menu/menu-list.js"></script>
</div>