<div class="body">
    <div class="main-body">
        <div class="search-bar">
            {{! ----------------Search-bar ------------------ }}
            {{! <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 btn-search" type="submit"> <i
                        class="fas fa-search"></i></button>
            </form> }}
            <input type="text" class="input-search" placeholder="Search" />
            <button class="btn-search"><i class="fas fa-search"></i></button>
        </div>
        <div class="category-list">
            {{! ----------------Category-list------------------ carousel-slide-first }}
            <div class="container container-carousel-first">
                <div class="row">
                    <div class="col-md-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-sm-3 cart-category">
                                            <div class="single-box category-active">
                                                <div class="img-area">
                                                    <img src="./img/allmenu.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>MENU</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 cart-category">
                                            <div class="single-box ">
                                                <div class="img-area">
                                                    <img src="./img/image-food4.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>Nước uống</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 cart-category">
                                            <div class="single-box">
                                                <div class="img-area">
                                                    <img src="./img/image-food10.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>Cơm bún phở</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 cart-category">
                                            <div class="single-box">
                                                <div class="img-area">
                                                    <img src="./img/image-food1.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>Thức ăn nhanh</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-sm-3 cart-category">
                                            <div class="single-box">
                                                <div class="img-area">
                                                    <img src="./img/image-food14.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>Lẩu</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 cart-category">
                                            <div class="single-box">

                                                <div class="img-text">
                                                    <div class="img-area">
                                                        <img src="./img/image-food1.jpg" alt="" />
                                                    </div>
                                                    <p>khác</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 cart-category">
                                            <div class="single-box">
                                                <div class="img-area">
                                                    <img src="./img/image-food1.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>khác</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 cart-category">
                                            <div class="single-box">
                                                <div class="img-area">
                                                    <img src="./img/image-food1.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>khác</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- --------------------- carousel-slide-second--}}
            <div class="container container-carousel-second">
                <div class="row">
                    <div class="col-md-12">
                        <div id="carouselExampleIndicators1" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-sm-6 col-6 cart-category">
                                            <div class="single-box category-active">
                                                <div class="img-area">
                                                    <img src="./img/allmenu.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>MENU</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-6 cart-category">
                                            <div class="single-box ">
                                                <div class="img-area">
                                                    <img src="./img/image-food4.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>Nước uống</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-sm-6 col-6 cart-category">
                                            <div class="single-box">
                                                <div class="img-area">
                                                    <img src="./img/image-food10.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>Cơm bún phở</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-6 cart-category">
                                            <div class="single-box">
                                                <div class="img-area">
                                                    <img src="./img/image-food1.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>Thức ăn nhanh</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-sm-6 col-6 cart-category">
                                            <div class="single-box">
                                                <div class="img-area">
                                                    <img src="./img/image-food14.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>Lẩu</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-6 cart-category">
                                            <div class="single-box">

                                                <div class="img-text">
                                                    <div class="img-area">
                                                        <img src="./img/image-food1.jpg" alt="" />
                                                    </div>
                                                    <p>khác</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        
                                        <div class="col-sm-6 col-6 cart-category">
                                            <div class="single-box">
                                                <div class="img-area">
                                                    <img src="./img/image-food1.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>khác</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-6 cart-category">
                                            <div class="single-box">
                                                <div class="img-area">
                                                    <img src="./img/image-food1.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>khác</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div> 
            {{!-- --------------------- --}}

        </div>
        <div class="menu-list">
            {{!
            -----------------------------------------------MENU-LIST---------------------------------
            }}
            <hr class="food-list-name-hr" />
            <div class="food-list-name">
                <h3 class="food-list-name-category food_list_name-js">MENU</h3>

            </div>

            <div class="mt-4">
                <div class="row row-card food_list-js">
                    {{#each MenuArray}}
                    {{#if this.isRecommended}}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card card--best-seller">
                            <img class="card-img-top" src={{this.image}} alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <div class="label-control">
                                    <p class="card-text">{{this.price}} VNĐ</p>
                                    <a href="#" class="label-icon-cart">
                                        <i class="label-icon fas fa-cart-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top" src={{this.image}} alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <div class="label-control">
                                    <p class="card-text">{{this.price}} VNĐ</p>
                                    <a href="#" class="label-icon-cart">
                                        <i class="label-icon fas fa-cart-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}

                    {{/each}}
                </div>
            </div>

            <!-- ---------------------------------------------------------------------------------------------- -->
        </div>
    </div>

        {{! ---------------------------------------------CART---------------------------------------------------------
        }}
    <div class="cart-container">

        <div class="row" id="Header">
            <div class="col-sm-2" id="cart-img">
                <img src="./img/shopping-cart.png" style="{" height="65px" , width="65px" } />
            </div>
            <div class="col-sm-10" id="Heading">Giỏ Hàng</div>
        </div>
        <div class="row" id="Action">
            <div class="col-sm-12">Xóa tất cả</div>
        </div>

        <hr id="hr-main" />
        <div class="cart">
            {{#each CartArray}}
            <div class="row" id="cart-row">
                <div class="col-sm-3" id="img-row">
                    <div class="image-box">
                        <img src={{this.image}} style="{" height="80px" , width="100%" } id="img-food"/>
                    </div>
                </div>
                <div class="col-sm-6" id="name-button-row">
                    <div class="row">
                        <div class="col" id="title-row">
                            <p class="title">{{this.name}}</p>
                        </div>
                    </div>
                    <div class="row num-change">
                        <div class="col" id="button-row">
                            <div class="counter">
                                <div class="btn1">-</div>
                                <div class="count">2</div>
                                <div class="btn2">+</div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-sm-3" id="remove-price">
                    <div class="prices">
                        <div class="remove"><img src="./img/garbage1.png" style="{" height="27px" , width="27px" } />
                        </div>
                        <div class="amount">{{this.price}}</div>
                    </div>

                </div>
            </div>
            <hr />
            {{/each}}

        </div>

        <hr id="hr-main" />
        <div class="checkout">
            <div class="total">
                <div>
                    <div class="Subtotal">Tổng:</div>
                </div>
                <div class="total-amount">330.000 VNĐ
                </div>
            </div>
            <div class="button-border">
                <a href="/thanhtoan">
                    <div class="button">Thanh toán</div>
                </a>
            </div>
        </div>
    </div>
        {{!
        -------------------------------------------------MODAL------------------------------------------------------- }}
    <div class="modal-container">
        <div class="modal__box">
            <div class="modal__header">
                <div class="modal__header-name">ADD TO CART </div>
                <i class="fas fa-times close__modal-icon"></i>
            </div>
            <div class="modal__body">
                <div class="modal__image">
                    <img src="./img/image-food1.jpg" alt="" />
                </div>
                <div class="modal__description">
                    <div class="food-base">
                        <div class="food-base__field">
                            <div class="food-base__field--name">HAMBERGUR</div>
                            <div class="food-base__field--content">Khai vị</div>
                        </div>
                        <div class="food-base__field">
                            <div class="food-base__field--name">Giá</div>
                            <div class="food-base__field--content">10000</div>
                        </div>
                    </div>
                    <div class="food-quantity">
                        <div class="food-quantity__field">Số lượng</div>
                        <div class="food-quantity__content">
                            <button class="food-quantity__button">-</button>
                            <div class="food-quantity__content--body">1</div>
                            <button class="food-quantity__button">+</button>
                        </div>
                    </div>
                    <div class="food-detail">
                        <div class="food-detail__field">
                            <div class="food-detail__field--name">Thành phần:</div>
                            <div class="food-detail__field--content">Bánh mỳ, salad, thịt bò, phô mai,
                                tôm, cà
                                chua.
                            </div>
                        </div>
                    </div>
                    <button class="modal__button">Add To Cart</button>
                </div>
            </div>

        </div>
    </div>
    {{!-- Cart mobile --}}
    <span class="cart-mobile__button">
        <img src="./img/shopping-cart.png" style="{ height="65px" , width="65px" }" />
    </span>
    <div class="cart-mobile">
        <div class="cart-mobile__container">
            <div class="cart-header">
                <div class="cart-header__content">Giỏ Hàng</div>
            </div>
            <hr id="hr-main" />
            <div class="cart-mobile__body">
                {{#each CartArray}}
                <div class="cart-item">
                    <div class="image-box">
                        <img src="{{this.image}}" alt="" />
                    </div>
                    <div class="content-box">
                        <div class="content-box__name">
                            {{this.name}}
                        </div>
                        <div class="content-box__number">
                            <div class="content-box__button">-</div>
                            2
                            <div class="content-box__button">+</div>
                        </div>
                    </div>
                    <div class="remove-box">
                        <div class="remove-box__garbage">
                            <img src="./img/garbage1.png">
                        </div>
                        <div class="remove-box__price">
                            {{this.price}}
                        </div>
                    </div>
                </div>
                <hr />
                {{/each}}
                
            <hr />
            </div> 
            <div class="cart-mobile__checkout">
                    <div class="total">
                        <div>
                            <div class="Subtotal">Tổng:</div>
                        </div>
                        <div class="total-amount">330.000 VNĐ
                        </div>
                    </div>
                    <div class="button-border">
                        <a href="/thanhtoan">
                            <div class="button">Thanh toán</div>
                        </a>
                    </div>
            </div>

        </div>
    </div>
    <script src="./js/menu/menu-list.js"></script>
</div>
