
{{!--------------------------------Header class --------------------------------------}}
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand"> POS</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Menu
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/datban">Đặt bàn
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Đánh giá
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ
                        <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="nav-item nav-item--login" id="login-text">
                <a class="nav-link" href="/login" ><i class="fas fa-sign-in-alt mr-2"></i> Đăng nhập
                    <span class="sr-only">(current)</span></a>
            </span>
        </div>
    </nav>
</div>


<link rel="stylesheet" href="/stylesheets/footer-menu.css">
<div class="body">
    <div class="main-body">
        {{!-------------------------- All food in menu ---------------------------------}}
         {{#if search}}
            <input type="hidden" id="search" value = '1'>
            {{#each foodListRender}}
            <div class = "foodList">
                <input type="hidden" class = "image" value = '{{this.image}}'>
                <input type="hidden" class = "name" value =  '{{this.name}}'>
                <input type="hidden" class = "foodDescribe" value = '{{this.foodDescribe}}'>
                <input type="hidden" class = "category" value = '{{this.category}}'>
                <input type="hidden" class = "isRecommended" value = '{{this.isRecommended}}'>
                <input type="hidden" class = "price" value = '{{this.price}}'>
                <input type="hidden" class = "foodId" value = '{{this.foodId}}'>
            </div>
                
            {{/each}}

            {{#each foodSearched}}
            <div class = "foodSearch">
                <input type="hidden" class = "image" value = '{{this.image}}'>
                <input type="hidden" class = "name" value =  '{{this.name}}'>
                <input type="hidden" class = "foodDescribe" value = '{{this.foodDescribe}}'>
                <input type="hidden" class = "category" value = '{{this.category}}'>
                <input type="hidden" class = "isRecommended" value = '{{this.isRecommended}}'>
                <input type="hidden" class = "price" value = '{{this.price}}'>
                <input type="hidden" class = "foodId" value = '{{this.foodId}}'>
            </div>
            {{/each}}
        {{else}}
        <input type="hidden" id="search" value = '0'>
        <form class="form" id = "allFood">
            {{#each foodListRender}}
            <div class = "foodList">
                <input type="hidden" class = "image" value = '{{this.image}}'>
                <input type="hidden" class = "name" value =  '{{this.name}}'>
                <input type="hidden" class = "foodDescribe" value = '{{this.foodDescribe}}'>
                <input type="hidden" class = "category" value = '{{this.category}}'>
                <input type="hidden" class = "isRecommended" value = '{{this.isRecommended}}'>
                <input type="hidden" class = "price" value = '{{this.price}}'>
                <input type="hidden" class = "foodId" value = '{{this.foodId}}'>
            </div>
                
            {{/each}}
        </form>
        {{/if}}
        {{!-------------------------------------- Search bar -------------------------------------}}

       <div class="search-bar">
            <form class ="search-food" action="/search" method = "post">
                <input type="text" name ="search" class = "search-input" placeholder="Tìm kiếm món ăn" >
                <button class = "search-button" type = "submit" ><i class="fas fa-search"></i></button>
            </form>

        </div>
        {{!-------------------------------------- Category bar -------------------------------------}}
         <div class="category-list">
           <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    
                                    <div class="row">

                                        <div class="col-sm-3 cart-category">
                                            <div class="single-box category-active categoryList">
                                                <div class="img-area">
                                                    <img src="./img/allmenu.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>
                                                        MENU
                                                    </p>
                                                </div>
                                            </div>
                                        </div>


                                        {{#each numberofActiveRender}}
                                            <div class="col-sm-3 cart-category categoryList">
                                            <div class="single-box">
                                                <div class="img-area">
                                                    <img src="./img/image-food-category-{{this.number}}.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>{{#categoryList}}
                                                           {{category}}                  
                                                        {{/categoryList}}
                                                    </p>
                                                     <input type="hidden" value = {{#categoryList}}
                                                           {{value}}                  
                                                        {{/categoryList}}>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        {{#each numberofInactiveRender}}
                                            <div class="col-sm-3 cart-category">
                                            <div class="single-box categoryList">
                                                <div class="img-area">
                                                    <img src="./img/image-food-category-{{this.number}}.jpg" alt="" />
                                                </div>
                                                <div class="img-text">
                                                    <p>{{#categoryList}}
                                                           {{category}}                  
                                                        {{/categoryList}}
                                                    </p>
                                                    <input type="hidden" value = {{#categoryList}}
                                                           {{value}}                  
                                                        {{/categoryList}}>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {{!----------Show menu area  ------------------}}
        <div class="menu-list">
            {{!------------ Food List name area ------------}}
            {{#if search}}
                <hr class="food-list-name-hr" />
                <div class="food-list-name">
                <h3 class="food-list-name-category food_list_name-js">{{searchName}}</h3>
                </div>
            {{else}}
                <hr class="food-list-name-hr" />
                <div class="food-list-name">
                    <h3 class="food-list-name-category food_list_name-js">MENU</h3>
                </div>
            {{/if}}

            {{!-- Food List area --}}
            <div class="mt-4">
                <div class="row row-card food_list-js">
                    {{!-- Render food list here --}}
                </div>
            </div>

            
        </div>
    </div>

    {{! ---------------------------------------------CART---------------------------------------------------------
    }}
    <div class="cart-container">

        <div class="row" id="Header">
            <div class="col-sm-2" id="cart-img">
                <img src="./img/shopping-cart.png" style="{" height="65px" , width="65px" } />
            </div>
            <div class="col-sm-10" id="Heading">Giỏ Hàng</div>
        </div>
        <div class="row" id="Action">
            <div class="col-sm-12 remove-all-button">Xóa tất cả</div>
        </div>

        <hr id="hr-main" />
        <div class="cart">
                {{!-- cart here --}}
        </div>
        <hr id="hr-main" />
        <div class="checkout">
            <div class="total">
                <div>
                    <div class="Subtotal">Tổng:</div>
                </div>
                <div class="total-amount">0 VNĐ
                </div>
            </div>
            <div class="button-border">

                <form action= '/thanhtoan' method="post" id="submit-payment">
                    <input type= "hidden" name ="cartList" id ="cartList" value ="123">
                    <input type= "hidden" name ="totalPrice" id="totalPrice" value ="123">
                    <button class ="button" id="submit" type="submit"> Thanh toán</button>
                </form>

            </div>
        </div>
    </div>
    {{!
    -------------------------------------------------MODAL------------------------------------------------------- }}
    <div class="modal-container">
        <div class="modal__box">
            <div class="modal__header">
                <div class="modal__header-name">CHI TIẾT MÓN </div>
                <i class="fas fa-times close__modal-icon"></i>
            </div>
            <div class="modal__body">
                <div class="modal__image">
                    {{!-- image --}}
                </div>
                <div class="modal__description">
                    <div class="food-base">
                        {{!-- name, price --}}
                    </div>
                    <div class="food-quantity">
                        {{!-- quantity --}}
                    </div>
                    <div class="food-detail">
                        <div class="food-detail__field">
                            <div class="food-detail__field--name">Thành phần:</div>
                            <div class="food-detail__field--content">Bánh mỳ, salad, thịt bò, phô mai,
                                tôm, cà
                                chua.
                            </div>
                        </div>
                    </div>
                    <button class="modal__button"><i class="fas fa-shopping-cart mr-2"></i>Thêm vào giỏ hàng</button>
                </div>
            </div>

        </div>
    </div>
    {{!-- Cart mobile --}}
    <span class="cart-mobile__button cart-mobile__button--active">
        <img src="./img/shopping-cart.png" style="{ height=" 65px" , width="65px" }" />
    </span>
    <div class="cart-mobile ">
        <div class="cart-mobile__container">
            <div class="cart-header">
                <div class="cart-header__content">Giỏ Hàng</div>
                <div class="row" id="Action" style="padding: 0; font-size:20px">
                    <div class="col-sm-12 remove-all-button">Xóa tất cả</div>
                </div>
                <i class="fas fa-times close__modal-icon "></i>
            </div>
            <hr id="hr-main" />
            <div class="cart-mobile__body">
            

            </div>
            <div class="cart-mobile__checkout">
                <hr />
                <div class="total">
                    <div>
                        <div class="Subtotal">Tổng:</div>
                    </div>
                    <div class="total-amount">0 VNĐ
                    </div>
                </div>
                <div class="button-border">
                    <form action="/thanhtoan" method="post" id ="submit-payment">
                        <input type="hidden"  name="cartList"  value ="">
                        <input type="hidden" name="totalPrice" value ="">
                        <button class ="button" type ="submit"> Thanh toán</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <script src="./js/menu/menu-list.js"></script>
</div>