<link rel="stylesheet" href="/stylesheets/payment/paymentRes.css">
<div class="main-block">
    <div class="payment-body">
        <div class="container py-4">
            <!-- For demo purpose -->
            <div class="row mb-3">
                <div class="col-lg-8 mx-auto text-center">
                    <div class="display-6" id="payment-title">THANH TOÁN</div>
                </div>
            </div> <!-- End -->
            <div class="row" id="payment-form">
                <div class="col-lg-10 mx-auto">

                    <div class="card-header">
                        <div class="shadow-sm pt-4 pl-2 pr-2 pb-2">
                            <!-- Credit card form tabs -->
                            <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-2" id="tab-list">
                                <li class="nav-item"> <a data-toggle="pill" href="#credit-card"
                                        class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Thẻ
                                        ATM</a> </li>
                                <li class="nav-item"> <a data-toggle="pill" href="#net-banking" class="nav-link ">
                                        <i class="fas fa-mobile-alt mr-2"></i> Ví điện tử </a> </li>
                                <li class="nav-item"> <a data-toggle="pill" href="#direct-cash" class="nav-link ">
                                        <i class="fas fa-dollar-sign mr-2"></i> Tiền mặt </a> </li>
                            </ul>
                        </div> <!-- End -->
                        <!-- Credit card form content -->
                        <div class="tab-content">
                            <!-- credit card info-->
                            <div id="credit-card" class="tab-pane fade show active pt-3">
                                <form role="form" onsubmit="event.preventDefault()">
                                    <div class="form-group"> <label for="username">
                                            <h6>Tên chủ thẻ</h6>
                                        </label> <input type="text" name="username" placeholder="Họ và tên chủ thẻ"
                                            required class="form-control "> </div>
                                    <div class="form-group"> <label for="cardNumber">
                                            <h6>Mã số thẻ</h6>
                                        </label>
                                        <div class="input-group"> <input type="text" name="cardNumber"
                                                placeholder="Mã số thẻ hợp lệ" class="form-control " required>
                                            <div class="input-group-append"> <span class="input-group-text text-muted">
                                                    <i class="fab fa-cc-visa mx-1"></i> <i
                                                        class="fab fa-cc-mastercard mx-1"></i> <i
                                                        class="fab fa-cc-amex mx-1"></i> </span> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group"> <label><span class="hidden-xs">
                                                        <h6>Ngày hết hạn</h6>
                                                    </span></label>
                                                <div class="input-group"> <input type="text" placeholder="MM" name=""
                                                        class="form-control" required> <input type="text"
                                                        placeholder="YY" name="" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mb-4"> <label data-toggle="tooltip"
                                                    title="Three digit CV code on the back of your card">
                                                    <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                                </label> <input type="text" required class="form-control"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <label for="username">
                                            <h6>Số bàn</h6>
                                        </label> <input type="text" name="username"
                                            placeholder="Vui lòng nhập vào số bàn, nếu mang về nhập vào 'Không'"
                                            required class="form-control ">
                                    </div>
                                    <div class="sub_total_row">
                                        <div class="sub_total">Số tiền</div>
                                        <div class="sub_money">120.000 VNĐ</div>
                                    </div>
                                    <div class="sub_total_row">
                                        <div class="sub_total">VAT (10%)</div>
                                        <div class="sub_money">12.000 VNĐ</div>
                                    </div>

                                    <div class="total_row">
                                        <div class="total_text">Tổng cộng</div>
                                        <div class="total_money">132.000 VNĐ</div>
                                    </div>
                                    <div class="card-footer"> <button type="button"
                                            class="subscribe btn btn-primary btn-block shadow-sm" id="payment-button">
                                            <i class="fas fa-credit-card mr-2"></i> Xác nhận
                                        </button>
                                </form>
                            </div>
                        </div> <!-- End -->
                        <!-- Cash -->
                        <div id="direct-cash" class="tab-pane fade pt-3">
                            <div class="form-group"> <label for="username">
                                    <h6>Số bàn</h6>
                                </label> <input type="text" name="username"
                                    placeholder="Vui lòng nhập vào số bàn, nếu mang về nhập vào 'Không'" required
                                    class="form-control ">
                            </div>
                            <div class="sub_total_row">
                                <div class="sub_total">Số tiền</div>
                                <div class="sub_money">120.000 VNĐ</div>
                            </div>
                            <div class="sub_total_row">
                                <div class="sub_total">VAT (10%)</div>
                                <div class="sub_money">12.000 VNĐ</div>
                            </div>

                            <div class="total_row">
                                <div class="total_text">Tổng cộng</div>
                                <div class="total_money">132.000 VNĐ</div>
                            </div>
                            <div class="form-group" id="cash_button">
                                <p> <button type="button" class="subscribe btn btn-primary btn-block shadow-sm  "><i
                                            class="fas fa-dollar-sign mr-2"></i> Xác nhận</button> </p>
                            </div>
                            <p class="text-muted">Lưu ý: Sau khi nhấp vào nút "Xác nhận", vui lòng đến quầy thanh
                                toán và thực hiện thanh toán với nhân viên. </p>

                        </div>
                        <!-- Internet Banking info -->
                        <div id="net-banking" class="tab-pane fade pt-3">
                            <div class="form-group"> <label for="username">
                                    <h6>Số bàn</h6>
                                </label> <input type="text" name="username"
                                    placeholder="Vui lòng nhập vào số bàn, nếu mang về nhập vào 'Không'" required
                                    class="form-control ">
                            </div>
                            <div class="form-group "> <label for="Select Your Bank">
                                    <h6>Ví điện tử</h6>
                                </label> <select class="form-control" id="ccmonth">
                                    <option value="" selected disabled>--Vui lòng chọn ví điện tử tương ứng--
                                    </option>
                                    <option>Momo</option>
                                    <option>ViettelPay</option>
                                    <option>ZaloPay</option>
                                </select> </div>
                            <div class="sub_total_row">
                                <div class="sub_total">Số tiền</div>
                                <div class="sub_money">120.000 VNĐ</div>
                            </div>
                            <div class="sub_total_row">
                                <div class="sub_total">VAT (10%)</div>
                                <div class="sub_money">12.000 VNĐ</div>
                            </div>

                            <div class="total_row">
                                <div class="total_text">Tổng cộng</div>
                                <div class="total_money">132.000 VNĐ</div>
                            </div>
                            <div class="form-group" id="cash_button">
                                <p> <button type="button" class="subscribe btn btn-primary btn-block shadow-sm "><i
                                            class="fas fa-mobile-alt mr-2"></i> Xác nhận</button> </p>
                            </div>
                            <p class="text-muted">Lưu ý: Sau khi nhấp vào nút "Xác nhận", bạn sẽ được chuyển đến một
                                trang an toàn để thanh toán. Sau khi hoàn tất quá trình thanh toán, bạn sẽ
                                được chuyển trở lại trang web để xem chi tiết đơn hàng của mình. </p>
                        </div> <!-- End -->
                        <!-- End -->
                    </div>

                </div>
            </div>
        </div>
        <div class="cart-container-payment">

            <div class="row" id="Header_payment">
                <div class="col-sm-2" id="cart-img">
                    <img src="./img/shopping-cart.png" style="{" height="65px" , width="65px" } />
                </div>
                <div class="col-sm-10" id="Heading">Giỏ Hàng</div>
            </div>


            <hr id="hr-main" />
            <div class="cart" id="cart-payment">
                {{#each CartArray}}
                <div class="row" id="cart-row">
                    <div class="col-sm-3" id="img-row">
                        <div class="image-box">
                            <img src={{this.image}} style="{" height="80px" , width="100%" id="img-food" } />
                        </div>
                    </div>
                    <div class="col-sm-5" id="name-button-row">
                        <div class="row">
                            <div class="col" id="title-row">
                                <p class="title">{{this.name}}</p>
                            </div>
                        </div>
                        <div class="row num-change">
                            <div class="col" id="button-row">
                                <div class="counter">
                                    <div class="num">SL:</div>
                                    <div class="count">{{this.quantity}}</div>

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-sm-4" id="remove-price">
                        <div class="prices">
                            <div class="amount">{{this.price}}</div>
                        </div>

                    </div>
                </div>
                <hr />
                {{/each}}

            </div>

            <hr id="hr-main" />
            <div class="checkout">
                <div class="total">
                    <div>
                        <div class="Subtotal">Tổng:</div>
                    </div>
                    <div class="total-amount">{{totalAmount}} VNĐ
                    </div>
                </div>

            </div>
        </div>

        {{!-- Cart mobile --}}
        <span class="cart-mobile__button cart-mobile__button--active">
            <img src="./img/shopping-cart.png" style="{ height=" 65px" , width="65px" }" />
        </span>
        <div class="cart-mobile ">
            <div class="cart-mobile__container">
                <div class="cart-header">
                    <div class="cart-header__content">Giỏ Hàng</div>
                    <i class="fas fa-times close__modal-icon "></i>
                </div>
                <hr id="hr-main" />
                <div class="cart-mobile__body">
                    {{#each CartArray}}
                    <div class="cart-item">
                        <div class="image-box">
                            <img src="{{this.image}}" alt="" />
                        </div>
                        <div class="content-box">
                            <div class="content-box__name">
                                {{this.name}}
                            </div>
                            <div class="content-box__number">
                                <div class="num">SL:</div>
                                <div class="count">{{this.quantity}}</div>
                            </div>
                        </div>
                        <div class="remove-box">
                            <div class="remove-box__price">
                                {{this.price}}
                            </div>
                        </div>
                    </div>
                    <hr />
                    {{/each}}

                   
                </div>
                <div class="cart-mobile__checkout">
                     <hr />
                    <div class="total">
                        <div>
                            <div class="Subtotal">Tổng:</div>
                        </div>
                        <div class="total-amount">{{totalAmount}} VNĐ
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>